@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    background: #030014;
  }

  h1 {
    @apply mx-auto max-w-4xl text-center text-5xl font-bold leading-tight text-white sm:text-[64px] sm:leading-[76px];
  }

  h2 {
    @apply text-2xl font-bold text-white sm:text-3xl;
  }

  main {
    @apply min-h-screen relative;
    background: #030014;
  }

  header {
    @apply sm:mt-10 mt-5;
  }

  header img {
    @apply w-full max-w-lg h-auto object-contain mx-auto drop-shadow-md;
  }
}

@layer components {
  .pattern {
    @apply w-full h-screen bg-center bg-cover absolute z-0;
    background-image: url("/BG.png");
  }

  .wrapper {
    @apply px-5 py-12 max-w-7xl mx-auto flex flex-col relative z-10;
  }

  .trending {
    @apply mt-20;

    & ul {
      @apply flex flex-row overflow-y-auto gap-5 -mt-10 w-full hide-scrollbar;
    }

    & ul li {
      @apply min-w-[230px] flex flex-row items-center;
    }

    & ul li p {
      @apply mt-[22px];
      white-space: nowrap;
      -webkit-text-stroke: 5px rgba(206, 206, 251, 0.5);
      font-size: 190px;
      font-family: "Bebas Neue", sans-serif;
    }

    & ul li img {
      @apply w-[127px] h-[163px] rounded-lg object-cover -ml-3.5;
    }
  }

  .search {
    @apply w-full px-4 py-3 rounded-lg mt-10 max-w-3xl mx-auto;
    background-color: rgba(206, 206, 251, 0.05);

    & div {
      @apply relative flex items-center;
    }

    & img {
      @apply absolute left-2 h-5 w-5;
    }

    & input {
      @apply w-full bg-transparent py-2 sm:pr-10 pl-10 text-base outline-none;
      color: #e5e7eb;
    }

    & input::placeholder {
      color: #a8b5db;
    }
  }

  .all-movies {
    @apply space-y-9;

    & ul {
      @apply grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
    }
  }

  .movie-card {
    @apply p-5 rounded-2xl shadow-inner;
    background-color: #0f0d23;
    box-shadow: inset 0 2px 4px 0 rgba(206, 206, 251, 0.1);
    cursor: pointer;

    & img {
      @apply rounded-lg h-auto w-full;
    }

    & h3 {
      @apply text-white font-bold text-base;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    & .content {
      @apply mt-2 flex flex-row items-center flex-wrap gap-2;
    }

    & .rating {
      @apply flex flex-row items-center gap-1;
    }

    & .rating img {
      @apply w-4 h-4 object-contain;
    }

    & .rating p {
      @apply font-bold text-base text-white;
    }

    & .content span {
      @apply text-sm;
      color: #9ca4ab;
    }

    & .content .lang {
      @apply capitalize font-medium text-base;
      color: #9ca4ab;
    }

    & .content .year {
      @apply font-medium text-base;
      color: #9ca4ab;
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  .modal-content {
    background-color: #0f0d23;
    color: #e5e7eb;
    border-radius: 18px;
    padding: 32px 32px 28px 32px;
    max-width: 700px;
    width: 98%;
    min-height: 320px;
    max-height: 540px;
    position: relative;
    box-shadow: 0 8px 48px 0 #000b, 0 2px 8px 0 #a084ff44;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
  }

  .modal-content-scrollable {
    overflow-y: auto;
  }

  .modal-close {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @media (min-width: 768px) {
    .modal-body {
      flex-direction: row;
    }
  }

  .modal-poster img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
  }

  .modal-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  .modal-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .modal-info {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    color: #9ca4ab;
  }
  
  .modal-overview {
    margin-top: 1rem;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-[#D6C7FF] to-[#AB8BFF] bg-clip-text text-transparent;
  }

  .fancy-text {
    -webkit-text-stroke: 5px rgba(206, 206, 251, 0.5);
    font-size: 190px;
    font-family: "Bebas Neue", sans-serif;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}